.filter-wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}
.filter-wrapper p {
  position: relative;
  top: 10px;
  font-size: 14px;
}
.filter-wrapper select {
  width: 92%;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #fafafa;
  background-color: #fff;
  color: #777;
}

.filter-wrapper select:hover{
  box-shadow: 0 4px 6px rgba(46, 41, 51, 0.06), 0 4px 8px rgba(71, 63, 79, 0.04);
}

@media (min-width: 768px) {
  .filter-wrapper {
    margin: 5px;
    padding: 10px 0 40px;
  }
  .filter-wrapper select{
    width: 52%
  }
}
